body {
    background-color: #fafafa;
}

.login-container{
    width: 100%;
    max-width: 935px;
    margin: auto;
}

.form-container{
    height: 100%;
    float: left;
    width: 350px;
    position: relative;
    margin-top: 14%;
    margin-left: -5px;
}

.phone-img{
    float: left;
    margin: auto;
    margin-top: 10%;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
}

.border{
    width: 100%;
    border: 1px solid lightgray;
}

.login{
    height: 370px;
    padding: 10px 0;
    margin: 0 0 10px;
    background-color: #fff;
}

.register{
    margin: 0 0 10px;
    height: 60px;
    background-color: #fff;
    margin: auto;
    font-size: 14px;
    text-align: center;
    line-height: 55px;
}

.download{
    width: 100%;
    height: 102px;
}

.register a{
    text-decoration: none;
    color: #0095F6;
    font-weight: bold;
}

.download p{
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

.download-choose{
    height: 40px;
}

.download-choose img{
    width: 136px;
    height: 40px;
    position: relative;
    margin-right: 10px;
    margin-top: 0;
    left: 15%;
    transform: translate(-15%);
}

.logo{
    margin: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
}

.form-control{
    border: 1px solid lightgray;
    padding: 10px 5px 10px 5px;
    border-radius: 4px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 5px;
    font-size: 12px;
    box-sizing: border-box;
}

.form-control[type=email] {
    width: 260px;
}

 .form-control[type=password] {
    width: 260px;
}

.btn-lg{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 110px 5px 110px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #0095f6;
    font-weight: bold;
}

.select-lg{
    flex-direction: row;
    margin: 10px 40px 18px;
    position: relative;
    left: 10%;
    transform: translate(-10%);
}

.f-ln{
    height: 1px;
    width: 100px;
    background-color: lightgray;
    float: left;
    margin-top: 7px;
}

.or-ln{
    font-size: 12px;
    font-weight: bold;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    color: #8E8E8E;
}

.s-ln{
    height: 1px;
    width: 100px;
    background-color: lightgray;
    float: left;
    margin-top: 7px;
}

.fb-btn{
    padding: 5px 60px 5px 60px;
    margin-top: 20px;
    color: #385185;
    background: none;
}

.fg-btn{
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    margin: auto;
    position: relative;
    left: 38%;
    transform: translate(-38%);
    color: #00376B;
}

.login-container span{
    display: none;
}

.alert-danger{
    color: red;
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 350px){
    .login-container span{
        display: block;
    }

    .download-choose img{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: -5px;
    }

    .download p{
        margin-top: -10px;
    }

    .footer{
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px){
    .border{
        border: none;
    }

    .login{
        border: none;
        background-color: #fafafa;
    }

    .register{
        border: none;
        background-color: #fafafa;
        margin-top: -30px;
    }

    .form-container{
        padding-top: 10px;
    }
}

@media screen and (max-width: 850px) {
    .phone-img{
        display: none;
    }

    .form-container{
        position: relative;
        padding-top: 70px;
        float: none;
        margin: auto;
    }
}

@media screen and (min-width: 850px){
    .login-container{
        margin: auto;
    }
}